body {
    background-color: rgb(255, 255, 255);
    background-image: url(img/img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    backdrop-filter: blur(10px);
    min-height: 950px;
}
section {
    margin-right: 15px;
    padding: 70px;
}
img{
    width: 15%;
    margin-top: 20px;
    border-radius: 100px;
}
.box{
    border: 3px solid rgb(79, 30, 92);
    margin: 65px;
    width: 200px;
    height: 250px;
    display: inline-block;
}
h1{
    color: rgb(113, 192, 113);
}
h2{
    border: 3px solid hsl(103, 54%, 40%);
    width: 10%;
    height: 30px;
}
h3{
    color: rgb(16, 15, 102);
    padding: 15px;
}
